<ul class="pl-2">
	<li>Minimum length: 8 characters</li>
	<li>Must contain at least one lower-case letter</li>
	<li>Must contain at least one upper-case letter</li>
	<li>Must contain at least one digit</li>
	<li>Must contain at least one special symbol <b class="text-danger">&#42;</b></li>
</ul>
<span><b class="text-danger">&#42;</b> Prohibited symbols: </span>
<mark class="border border-danger pt-0"><code><b>&amp;</b></code></mark>
<mark class="border border-danger pt-0"><code><b>&#37;</b></code></mark>
<mark class="border border-danger pt-0"><code><b>&#63;</b></code></mark>
<mark class="border border-danger pt-0"><code><b>&#42;</b></code></mark>
<mark class="border border-danger pt-0"><code><b>&quot;</b></code></mark>
<mark class="border border-danger pt-0"><code><b>&#39;</b></code></mark>
<span>as well as empty spaces</span>