<ul class="pl-2">
	<li>
		<span>May consist of </span>
		<a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/ISO_basic_Latin_alphabet">
			<span>basic ISO latin letters</span>
		</a>
		<span>, digits and some special characters <b class="text-success">&#42;</b></span>
	</li>
	<li>Must contain at least one lower-case letter</li>
	<li>Maximum length: 64 characters</li>
	<li>Minimum length: 4 characters</li>
</ul>
<span><b class="text-success">&#42;</b> Allowed symbols: </span>
<mark class="border border-success pt-0"><code><b class="text-success">&#64;</b></code></mark>
<mark class="border border-success pt-0"><code><b class="text-success">&#36;</b></code></mark>
<mark class="border border-success pt-0"><code><b class="text-success">&#33;</b></code></mark>
<mark class="border border-success pt-0"><code><b class="text-success">&#35;</b></code></mark>
<mark class="border border-success pt-0"><code><b class="text-success">&#43;</b></code></mark>
<mark class="border border-success pt-0"><code><b class="text-success">&#126;</b></code></mark>
<mark class="border border-success pt-0"><code><b class="text-success">&#45;</b></code></mark>
<mark class="border border-success pt-0"><code><b class="text-success">&#46;</b></code></mark>
<mark class="border border-success pt-0"><code><b class="text-success">&#95;</b></code></mark>