<div class="d-none flex-row justify-content-center my-1 px-1" id="statusRow">
	<div class="d-flex flex-column mx-auto">
		<div class="alert alert-dismissible m-0 fade show" id="statusAlert" role="alert">
			<strong id="statusMessage"></strong>
			<button type="button" class="close" id="closeAlert" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	</div>
</div>