@{
	ViewData[TitleKey] = "Access denied";
}

<div class="d-flex flex-row my-1 px-1">
	<div class="d-flex flex-column col-12">
		<h4 class="mt-1 mb-0 text-danger">
			<span class="far fa-hand-paper"></span>
			<span>You are not allowed to do that.</span>
		</h4>
	</div>
</div>