@{
	ViewData[TitleKey] = "About";
}

<div class="d-flex flex-row my-1 px-1">
	<div class="d-flex flex-column flex-grow-1">
		<h3>Pertensa company history.</h3>
		<p>Use this area to provide additional information.</p>
	</div>
</div>