@{
	ViewData[TitleKey] = "Contacts";
}

<div class="d-flex flex-row p-2">
	<div class="card-deck mx-auto">
		<div class="card">
			<div class="card-header">
				<h5 class="card-title mb-1">Offices</h5>
			</div>
			<div class="card-body">
				<h6 class="card-subtitle mb-2 text-muted font-weight-bold">Headquarters</h6>
				<address class="card-text">
					<span>3-5 Road R330, Cathair na Mart, Contae Mhaigh Eo</span>
					<br />
					<span>F28 A088, Connachta, Eire</span>
					<br />
				</address>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				<h5 class="card-title mb-1">Help desk</h5>
			</div>
			<div class="card-body">
				<h6 class="card-subtitle mb-2 text-muted">General questions and requests</h6>
				<span class="fas fa-phone"></span>
				<abbr title="Phone number">
					<span>+353(0)98-765-4321</span>
				</abbr>
				<address class="card-text">
					<span class="fas fa-envelope"></span>
					<abbr title="E-mail address">
						<a class="card-link" href="mailto:pertensaco@gmail.com?subject=[HELP]">help@pertensa.com</a>
					</abbr>
				</address>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				<h5 class="card-title mb-1">Sales&nbsp;&amp;&nbsp;Marketing</h5>
			</div>
			<div class="card-body">
				<h6 class="card-subtitle mb-2 text-muted">Product availability, price quotes, order info</h6>
				<address class="card-text">
					<span class="fas fa-envelope"></span>
					<abbr title="E-mail address">
						<a class="card-link" href="mailto:pertensaco@gmail.com?subject=[SALES]">sales@pertensa.com</a>
					</abbr>
				</address>
			</div>
		</div>
	</div>
</div>