@{
	ViewData[TitleKey] = "Privacy policy";
}

<div class="d-flex flex-row my-1 px-1">
	<div class="d-flex flex-column flex-grow-1">
		<h3>Pertensa privacy policy.</h3>
		<p>We keep only the basic minimum of details required to process your product orders.</p>
		<p>We will never, under any circumstances, disclose your personal information to any third party.</p>
	</div>
</div>