@using PertensaCo.Web.Areas.Identity.Models;

@model ForgotPasswordViewModel

@{
	ViewData[TitleKey] = Model.PageTitle;
}

<div class="d-flex flex-row my-1 px-1">
	<div class="d-flex flex-column form-container col-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
		<form asp-area="Identity" asp-controller="Users" asp-action="SignInForgotten" method="post" role="form">
			<fieldset>
				<legend class="text-center">Recover a Pertensa profile password</legend>
				<div class="form-group">
					<p class="px-2 py-1" style="text-align:justify;text-indent: 2rem">
						<span>Enter the e-mail address you used when registering your profile.</span>
						<span>Afterwards, click the [Send] button and check your e-mailbox.</span>
					</p>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text p-1">
								<label asp-for="Email" class="m-0"></label>
							</span>
						</div>
						<input asp-for="Email" class="form-control" />
						<div class="input-group-append">
							<button type="submit" class="btn btn-plaque" id="sendPasswordButton">
								<span>Send password</span>
							</button>
						</div>
					</div>
					<span asp-validation-for="Email" class="text-danger mr-auto"></span>
					@if (Model.PasswordSent == true)
					{
						<div class="form-row px-2 justify-content-end">
							<output class="text-success" id="passwordSentMessage">
								<span class="small">Password sent</span>
								<span class="far fa-check-circle fa-sm"></span>
							</output>
						</div>
						<div class="form-row mt-3 mx-1">
							<p class="m-0 px-2 py-1" style="text-align:justify;text-indent: 2rem">
								<span>Follow the link from the message you received to change your password and sign in.</span>
							</p>
						</div>
					}
				</div>
			</fieldset>
		</form>
	</div>
</div>
@section Scripts {
	<partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
	<script>
		$(function () {
			setTimeout(function () {
				$('#passwordSentMessage').hide()
			}, 3072);
		});
	</script>
}