<main style="font-family:sans-serif;padding:0.25rem 1rem">
	<p>Greetings, @Username</p>
	<br />
	<p style="text-indent:1rem;">
		<span>You have successfully created/updated a Pertensa client profile on our web site. </span>
		<span>Please click </span>
		<a href="@EmailConfirmationUrl" style="font-weight:bold;text-decoration:none">here</a>
		<span> to confirm your e-mail address.</span>
		<span>This is necessary if you are to place any product orders in the future.</span>
		<span>We will use this address to send you invoices.</span>
	</p>
	<br />
	<p style="text-indent:1rem;">
		Thank you for choosing us as a business partner!
	</p>
	<br />
	<p>
		Kind regards,<br />
		The Pertensa team<br />
	</p>
	<br />
</main>
<footer style="font-family:sans-serif;text-align:center">
	<hr />
	<p>&copy;&nbsp;2018&nbsp;Copyright&nbsp;&mdash;&nbsp;Pertensa&nbsp;Co.</p>
</footer>