<main style="font-family:sans-serif;padding:0.25rem 1rem">
	<p>Hello, @Username</p>
	<br />
	<p style="text-indent:1rem;">
		<span>The password for your Pertensa client profile has been reset.</span>
		<span>Follow this </span>
		<a href="@PasswordResetUrl" style="font-weight:bold;text-decoration:none">link</a>
		<span> to sign in.</span>
		<span>Make sure to visit the profile management page and change your password as soon as you reach the site.</span>
	</p>
	<br />
	<p>
		Kind regards,<br />
		The Pertensa team<br />
	</p>
	<br />
</main>
<footer style="font-family:sans-serif;text-align:center">
	<hr />
	<p>&copy;&nbsp;2018&nbsp;Copyright&nbsp;&mdash;&nbsp;Pertensa&nbsp;Co.</p>
</footer>